//Fontes
$font: 'Roboto', sans-serif;

//Cores
$cor-primaria: #041C32;
$cor-secundaria: #064663;
$cor-terciaria: #ECB365;

//Tamanho das fontes
$tamanho-do-texto: 3rem;

//Pontos de quebra
$breakpoint-tablet: 768px;